input {
  beats {
    host => "{{ nebula_ip }}"
    port => 5044
  }
}
filter {
  # if [event.module] == "apache" {}
  grok {
    match => { "message" => "%{COMBINEDAPACHELOG}" }
  }
}
output {
  elasticsearch {
    hosts => [ "https://{{ lookup('env', 'ELASTIC_SERVER') }}:9200" ]
    index => "logs-{{ operation }}"
    api_key => "{{ lookup('env', 'ELASTIC_API_KEY') }}"
    ssl => true
    ssl_certificate_verification => false
  }
}