# ------------  Node identity ------------
node.name: {{ operation }}

# ------------ Data path ------------------
path.data: /var/lib/logstash

# ------------ Pipeline Settings --------------
pipeline.id: {{ operation }}
pipeline.unsafe_shutdown: true

# ------------ Pipeline Configuration Settings --------------
path.config: /opt/logstash/logstash.conf
path.logs: /var/log/logstash
