# ------------  Node identity ------------
node.name: {{ operation }}

# ------------ Data path ------------------
path.data: /var/lib/logstash

# ------------ Pipeline Settings --------------
pipeline.id: {{ operation }}
pipeline.unsafe_shutdown: true

# ------------ Pipeline Configuration Settings --------------
path.config: /opt/logstash/logstash.conf

# ------------ API Settings -------------
api.enabled: true
api.http.host: {{ nebula_ip }}
api.http.port: 9600-9700
api.environment: "production"

#
# The HTTP API can be secured with SSL (TLS). To do so, you will need to provide
# the path to a password-protected keystore in p12 or jks format, along with credentials.
#
# api.ssl.enabled: false
# api.ssl.keystore.path: /path/to/keystore.jks
# api.ssl.keystore.password: "y0uRp4$$w0rD"
#
# The HTTP API can be configured to require authentication. Acceptable values are
#  - `none`:  no auth is required (default)
#  - `basic`: clients must authenticate with HTTP Basic auth, as configured
#             with `api.auth.basic.*` options below
# api.auth.type: none
#
# When configured with `api.auth.type` `basic`, you must provide the credentials
# that requests will be validated against. Usage of Environment or Keystore
# variable replacements is encouraged (such as the value `"${HTTP_PASS}"`, which
# resolves to the value stored in the keystore's `HTTP_PASS` variable if present
# or the same variable from the environment)
#
# api.auth.basic.username: "terry"
# api.auth.basic.password: "{# logstash_password #}"
#
# When setting `api.auth.basic.password`, the password should meet
# the default password policy requirements.
# The default password policy requires non-empty minimum 8 char string that
# includes a digit, upper case letter and lower case letter.
# Policy mode sets Logstash to WARN or ERROR when HTTP authentication password doesn't
# meet the password policy requirements.
# The default is WARN. Setting to ERROR enforces stronger passwords (recommended).
#
# api.auth.basic.password_policy.mode: WARN


path.logs: /var/log/logstash
