input {
  beats {
    host => "0.0.0.0"
    port => 5044
  }
}
filter {
  
}
output {
  elasticsearch {
    hosts => ["https://{{ elastic_public_ip }}:9200"]
    user => "{{ elastic_username }}"
    password => "{{ elastic_password }}"
    ssl => true
    ssl_certificate_verification => false
  }
}