resource "azurerm_ssh_public_key" "{{ provider }}-{{ build_uuid }}" {
  name = "{{ ssh_key_name }}"
  resource_group_name = "example"
  location = "West Europe"
  public_key = file("~/.ssh/id_rsa.pub")
}