# ============================== Filebeat inputs ===============================

filebeat.inputs:

- type: log
  id: cobaltstrike-logs
  enabled: true
  paths:
    - /opt/container/cobaltstrike/.logging/*.*
    - /opt/container/cobaltstrike/.logging/*/*.*
    - /opt/container/cobaltstrike/.logging/*/*/*.*

- type: log
  id: sliver-logs
  enabled: true
  paths:
    - /opt/container/sliver/.logging/*.*
    - /opt/container/sliver/.logging/*/*.*
    - /opt/container/sliver/.logging/*/*/*.*

# ============================== Filebeat modules ==============================

filebeat.config.modules:

  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 30s

filebeat.modules:

- module: apache
  access:
    enabled: true
    var.paths: ["/var/log/apache2/access.log*"]

output.logstash:
  hosts: ["{{ lighthouse_nebula_ip }}:5044"]
