# ============================== Filebeat inputs ===============================

filebeat.inputs:

- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    -  /opt/container/cobaltstrike/.logging/*/events.log
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: events

- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    -  /opt/container/cobaltstrike/.logging/*/weblog*
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: weblog

- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    -  /opt/container/cobaltstrike/.logging/*/downloads.log
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: downloads

- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    - /root/cobaltstrike/data/export_credentials.tsv
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: credentials


- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    -  /opt/container/cobaltstrike/.logging/*/*/beacon_*.log
    -  /opt/container/cobaltstrike/.logging/*/*/ssh_*.log
  # Since Cobalt Strike version 3.14 the time format in the logs is changed. Here we use regex 'or' function (expr1)|(expr2) to match new or old format
  multiline.pattern: '(^\d\d\/\d\d\s\d\d\:\d\d\:\d\d\sUTC\s\[)|(^\d\d\/\d\d\s\d\d\:\d\d\:\d\d\s\[)' # match "06/19 12:32:56 UTC [" or "06/19 12:32:56 ["
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 100000
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: beacon

- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    -  /opt/container/cobaltstrike/.logging/*/*/keystrokes/keystrokes_*.txt
  # Since Cobalt Strike version 3.14 the time format in the logs is changed. Here we use regex 'or' function (expr1)|(expr2) to match new or old format
  multiline.pattern: '(^\d\d\/\d\d\s\d\d\:\d\d\:\d\d\sUTC\s\[)|(^\d\d\/\d\d\s\d\d\:\d\d\:\d\d\s\[)' # match "06/19 12:32:56 UTC [" or "06/19 12:32:56 ["
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 100000
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: keystrokes

- type: log
  scan_frequency: 5s
  enabled: true
  fields_under_root: true
  paths:
    -  /opt/container/cobaltstrike/.logging/*/*/screenshots.log
  # Since Cobalt Strike version 3.14 the time format in the logs is changed. Here we use regex 'or' function (expr1)|(expr2) to match new or old format
  multiline.pattern: '(^\d\d\/\d\d\s\d\d\:\d\d\:\d\d\sUTC\s\[)|(^\d\d\/\d\d\s\d\d\:\d\d\:\d\d\s\[)' # match "06/19 12:32:56 UTC [" or "06/19 12:32:56 ["
  multiline.negate: true
  multiline.match: after
  multiline.max_lines: 100000
  fields:
    infra:
      log:
        type: rtops
    c2:
      program: cobaltstrike
      log:
        type: screenshots

- type: log
  id: sliver-logs
  enabled: true
  paths:
    - /opt/container/sliver/.logging/*.*
    - /opt/container/sliver/.logging/*/*.*
    - /opt/container/sliver/.logging/*/*/*.*

# ============================== Filebeat modules ==============================

filebeat.config.modules:

  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 30s

filebeat.modules:

- module: apache
  access:
    enabled: true
    var.paths: ["/var/log/apache2/access.log*"]

output.logstash:
  hosts: ["{{ lighthouse_nebula_ip }}:5044"]
