
{# Note that the data keyword is used here so that we use the existing hosted zone #}

# Names must not begin with a digit, so placing underscore prepended to the root domain name for that reason
data "aws_route53_zone" "{{ uuid }}" { # Value provided by Jinja
  name = "{{ domain }}"
}

{% for record in domain_records %}
resource "aws_route53_record" "{{ record.safe_subdomain }}-{{ record.record_type }}-{{ uuid }}" { # Value provided by Jinja
  count = 1
  zone_id = data.aws_route53_zone.{{ uuid }}.zone_id  # Value provided by Jinja
  {# If there is a length, give the subdomain, if not, leave blank #}
  name = "{% if record.subdomain|length > 0 %}{{record.subdomain}}.{{ domain }}{% else %}{{ domain }}{% endif %}" # Value provided by Jinja
  type = "{{ record.record_type }}" # Value provided by Jinja
  ttl = "300"

  # If DKIM record, split strings by using \"\" 
  records = [
    {{ record.value }}
  ]
}
{% endfor %}