# Create a new SSH key
resource "aws_key_pair" "{{ name }}" {  # Value provided by Jinja
  key_name = "{{ name }}" # Value provided by Jinja
  public_key = "{{ public_key.decode('utf-8') }}" # Value provided by Jinja
}