RewriteEngine On

############################################################################################
# Welcome to the .htaccess, to use this for reverse proxying traffic, please only comment 
# out ONE of the examples below (exlcuding the Description, as that is just a comment).
# 
# Keep in mind, you may need to change the redirection rules a bit. (Especially the port)
#
# If you are unsure of the rules working properly, take a look at /var/log/apache2/error.log
#############################################################################################


############ Start Basic Example Redirect Rule ############
## Description: Proxy all trafic to the URL below

RewriteRule ^.*$ https://{{ redirect_to }}:1443%{REQUEST_URI} [P]

############ End Basic Example Redirect Rule ############


############ Start Basic Example Redirect Rule (UA Filter) ############
## Description: If UA matches any of the below, redirect to google.com

# RewriteCond %{HTTP_USER_AGENT} "wget|curl|HTTrack|crawl|google|bot|b\-o\-t|spider|baidu" [NC]
# RewriteRule ^.*$ https://{{ domain_to_impersonate }} [L,R=302]
# RewriteRule ^.*$ https://{{ redirect_to }}:443%{REQUEST_URI} [P]

############ End Basic Example Redirect Rule (UA Filter) ############


############ Start Basic Example Redirect Rule (UA Filter 2) ############
## Description: If UA matches the one below, proxy to specific URL

# RewriteCond %{HTTP_USER_AGENT} "USER-AGENT" [NC]
# RewriteRule ^.*$ https://{{ redirect_to }}:443%{REQUEST_URI} [P]
# RewriteRule ^.*$ https://{{ domain_to_impersonate }} [L,R=302]

############ End Basic Example Redirect Rule (UA Filter 2) ############
