{
	"blocks": [
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": "💣  Destroy - {{ operation }}",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Successfully destroyed the {{ operation }} resources."
			}
		}
	]
}