[Unit]
Description=Nebula Mesh VPN Service

[Service]
Type=simple
User=root
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/opt/nebula
ExecStart=/opt/nebula/nebula -config config.yaml
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target