
{% for record in domain_records %}
resource "namecheap_domain_records" "{{ record.safe_subdomain }}-{{ record.record_type }}-{{ uuid }}" { # Value provided by Jinja
  domain = "{{ domain }}" # Value provided by Jinja
  mode = "MERGE"
  email_type = "NONE"

  record {
    hostname = "{% if record.subdomain|length == 0 %}.{% else %}{{ record.subdomain }}{% endif %}" # Value provided by Jinja
    type = "{{ record.record_type }}" # Value provided by Jinja
    address = {{ record.value }} # Value provided by Jinja
  }
}
{% endfor %}