
# DNS Records
resource "namecheap_domain_records" "record-{{ record.safe_subdomain }}_{{ root_domain }}" { # Value provided by Jinja
  domain = "{{ domain }}" # Value provided by Jinja
  mode = "MERGE"
  email_type = "NONE"

  record {
    hostname = "{% if record.subdomain|length == 0 %}.{% else %}{{ record.subdomain }}{% endif %}" # Value provided by Jinja
    type = "{{ record.record_type }}" # Value provided by Jinja
    address = {{ resource.terraform_resource_name }}.{{ resource.name }}.{{ resource.terraform_ip_reference }} # Value provided by Jinja
  }
}