output {
    elasticsearch {
      hosts => [ "https://{{ lookup('env', 'ELASTIC_SERVER') }}" ]
      index => "logs-{{ operation }}"
      api_key => "{{ lookup('env', 'ELASTIC_API_KEY') }}"
      action => "create"
      ssl => true
      ssl_certificate_verification => false
    }
}