
{% for record in domain_records %}
resource "godaddy_domain_record" "{{ record.safe_subdomain }}-{{ uuid }}" {
  domain = "{{ domain }}"

  record {
    data = {{ record.value }}
    name = "{{ record.subdomain }}"
    port = 0
    type = "{{ record.record_type }}"
  }
}
{% endfor %}
